<div class="ps-page--single" id="contact-us">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>

    <div class="ps-contact-info">
        <div class="container">
            <div class="ps-section__header">
                <h3>Liên hệ cho chúng tôi khi có bất kì thắc mắc nào</h3>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Liên hệ trực tiếp</h4>
                            <p><a href="#">Gọi bảo hành <strong>1800.2064</strong></a></p>
                            <p><a href="#">Gọi khiếu nại <strong>1800.2063</strong></a></p>
                            <p><a href="#">Gọi mua hàng <strong>1800.2097</strong></a></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Địa chỉ văn phòng</h4>
                            <p><span>Học viện công nghệ bưu chính viễn thông</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Làm việc với chúng tôi</h4>
                            <p><a href="#"><span class="__cf_email__" data-cfemail="f99a988b9c9c8bb994988b8d9f8c8b80d79a9694">Nongsanshop&#64;gmail.com</span></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ps-contact-form">
        <div class="container">
            <form class="ps-form--contact-us">
                <h3>Liên hệ</h3>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tên *">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Email *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tiêu đề *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Nội dung tin nhắn"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button class="ps-btn">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter" action="#">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
